
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <link th:href="@{/CSS/bootstrap-4.4.1.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

<body>


  <div th:replace="homepage_header.html :: headerFragment"></div>

  <div class="wrap">
<div class="about_1st_con"> <img th:src="@{/images/AdobeStock_450393186.jpeg}">
</div>
<div class="about_2st_con">
  <div class="title"><h1>법무법인 아무개</h1></div>
  <div class="txt"> <h3> 주요 내용</h3> <p>내용을 입력해주세요,내용을 입력해주세요내용을 입력해주세요내용을 입력해주세요</p> <div class="txt_img"><img th:src="@{/images/100916.jpg}"></div>

    <div class="txt_img_a"><p>설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을
      입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가
      내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나
      추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을
      입력해주세요,설명이나 추가 내용을 입력해주세요,설명이나 추가 내용을 입력해주세요,</p></div>

  </div>

</div>
</div>

  <div th:replace="homepage_footer.html"></div>
</body>
</html>
