<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><H1> LOGO</H1><img src="#" alt="LOGO를 넣어주세요!" class="img-fluid logo-footer" TXT="DFSDFSD"></a>
                <div class="footer-about">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">

                    <img src="" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a th:href="@{/main}"><i class="fa-solid fa-angles-right"></i>홈 </a></li>
                        <li><a th:href="@{/main/about}"><i class="fa-solid fa-angles-right"></i> 소개</a></li>
                        <li><a th:href="@{/main/win_cases}"><i class="fa-solid fa-angles-right"></i> 승소사례</a></li>
                        <li><a th:href="@{/main/teams}"><i class="fa-solid fa-angles-right"></i> 구성원</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">

                    <img src="" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> 페이스북</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> 인스타그램</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> 네이버블로그</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">

                    <img src="#" alt="" class="img-fluid">
                    <div class="address-links">
                        <H4>오시는길</H4>
                        <li class="address1">주소<i class="fa-solid fa-location-dot"></i> 대전광역시 서구 00동 00번지-00</li>
                        <li><a href="">연락처<i class="fa-solid fa-phone"></i> 010-4500-1112</a></li>
                        <li><a href="">이메일<i class="fa-solid fa-envelope"></i> mail@gmail.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <section id="copy-right">
        <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
            Copyright 2023.  <a href="#">Ung</a> All rights reserved


        </div>

    </section>
</footer>

