<!-- 1.전체적으로 넘 커요 웹페이지 줌아웃했을때 지금의 60%~70% 정도일때가 적당해 보여요.
+ 줌아웃했을때 요소들이 중앙에 오도록. 지금은 왼쪽으로 쏠려요

2. main_news.html / main_members.html / main.introduction.html / main_example.html / main_consult.html 파일 마저 채워주세요 -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>법무법인 XX</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/stylesheet.css}">

	<script th:src="@{/JS/main_javaScript.js}" id="applicationScript"></script>
</head>




<body>
	<div id="n_1920__6">
		<div onclick="application.goToTargetView(event)" id="n__3__5" class="______3___5">
			<div id="n__2">
				<div id="Group" class="">
					<img id="n__1" src="./images/n__1.png" srcset="./images/n__1.png 1x, ./images/n__1@2x.png 2x">
						
					</svg>
				</div>
				<div id="Group_p" class="">
					<img id="n__1_q" src="./images/n__1_q.png" srcset="./images/n__1_q.png 1x, ./images/n__1_q@2x.png 2x">
						
					</svg>
				</div>
				<div id="Group_r" class="">
					<img id="n__1_s" src="./images/n__1_s.png" srcset="./images/n__1_s.png 1x, ./images/n__1_s@2x.png 2x">
						
					</svg>
				</div>
			</div>
		</div>
		<div id="n_1">
			<svg class="n_4">
				<rect id="n_4" rx="0" ry="0" x="0" y="0" width="147" height="48">
				</rect>
			</svg>
			<div id="n_">
				<span>온라인 상담</span>
			</div>
		</div>
		<svg class="n_1_w">
			<rect id="n_1_w" rx="0" ry="0" x="0" y="0" width="1920" height="131">
			</rect>
		</svg>
		<div id="n_xx">
			<span>법무법인 xx</span>
		</div>
		<div id="n__4__5" class="______4___5">
			<div id="n__1_z">
				<div id="Group_" class="">
					<div id="n__">
						<span><a class="top_navi" href="./main_introdection.html">법인 소개</a></span>
					</div>
				</div>
				<div id="Group_ba" class="">
					<div id="Text">
						<span><a class="top_navi" href="./main_members.html">구성원</a></span>
					</div>
				</div>
				<div id="Group_bb" class="">
					<div id="Text_">
						<span><a class="top_navi" href="./main_news.html">소식/자료</a></span>
					</div>
				</div>
				<div id="Group_bc" class="">
					<div id="Text_ba">
						<span><a class="top_navi" href="./main_example.html">사례</a></span>
					</div>
				</div>
				<div id="Group_bd" class="">
					<div id="n_1_">
						<span><a class="top_navi" href="./main_consult.html">1:1</span><span style="font-style:normal;font-weight:normal;letter-spacing:1.89px;">상담</a></span>
					</div>
				</div>
			</div>
		</div>
		<div id="n__1__5" class="______1___5">
			<svg class="n_2">
				<rect id="n_2" rx="24.5" ry="24.5" x="0" y="0" width="501" height="49">
				</rect>
			</svg>
		</div>
		<div id="n__bc">
			<span>사례 검색</span>
		</div>
		<img id="n_1_bd" src=",/images/n_1_bd.png" srcset="./images/n_1_bd.png 1x, ./images/n_1_bd@2x.png 2x">
			
		<div id="n_023___">
			<span>2023 법률 서비스 대상</span>
		</div>
		<div id="n__xx______">
			<span>법무 법인 xx <br/>고객 만족 서비스 대상 수상</span>
		</div>
		<div id="n_3">
			<div id="Text_bh">
				<span>유형</span>
			</div>
			<div id="n___">
				<span>유형별 <br/>재판 사례</span>
			</div>
			<svg class="n_1_bj" viewBox="0 0 5 251.325">
				<path id="n_1_bj" d="M 0 0 L 0 251.3250427246094">
				</path>
			</svg>
		</div>
		<div id="n__6">
			<div id="n_2_bl" class="___2">
				<svg class="n_7">
					<rect id="n_7" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_bn">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_bo" class="___2">
				<svg class="n_7_bp">
					<rect id="n_7_bp" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_bq">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_br" class="___2">
				<svg class="n_7_bs">
					<rect id="n_7_bs" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_bt">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_bu" class="___2">
				<svg class="n_7_bv">
					<rect id="n_7_bv" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_bw">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_bx" class="___2">
				<svg class="n_7_by">
					<rect id="n_7_by" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_bz">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_b" class="___2">
				<svg class="n_7_b">
					<rect id="n_7_b" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_b">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_ca" class="___2">
				<svg class="n_7_ca">
					<rect id="n_7_ca" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_ca">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_cb" class="___2">
				<svg class="n_7_cb">
					<rect id="n_7_cb" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_cb">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_cc" class="___2">
				<svg class="n_7_cc">
					<rect id="n_7_cc" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_cc">
					<span>사기</span>
				</div>
			</div>
			<div id="n_2_cd" class="___2">
				<svg class="n_7_cd">
					<rect id="n_7_cd" rx="26" ry="26" x="0" y="0" width="168" height="125">
					</rect>
				</svg>
				<div id="Text_ce">
					<span>사기</span>
				</div>
			</div>
		</div>
		<svg class="n_9">
			<rect id="n_9" rx="0" ry="0" x="0" y="0" width="689" height="659">
			</rect>
		</svg>



		<!-- 수정해야할 부분. rect가 아니라 input으로바꿔서 사용자가 입력이 가능하도록. -->



		<div id="n__cg">
			<span>상담 신청</span>
		</div>
		<div id="n__7">
			<div id="Group_ci" class="">
				<svg class="n_10">
					<input id="n_10" type="text" style="border-radius: 0; width: 362px; height: 72px;">
				</svg>
			</div>
			<div id="Group_ck" class="">
				<svg class="n_10_cl">
					<rect id="n_10_cl" rx="0" ry="0" x="0" y="0" width="362" height="288">
					</rect>
				</svg>
			</div>
			<div id="Group_cm" class="">
				<svg class="n_10_cn">
					<rect id="n_10_cn" rx="0" ry="0" x="0" y="0" width="362" height="72">
					</rect>
				</svg>
			</div>
			<div id="Group_co" class="">
				<svg class="n_10_cp">
					<rect id="n_10_cp" rx="0" ry="0" x="0" y="0" width="362" height="72">
					</rect>
				</svg>
			</div>
			<div id="Group_cq" class="">
				<svg class="n_10_cr">
					<rect id="n_10_cr" rx="0" ry="0" x="0" y="0" width="362" height="72">
					</rect>
				</svg>
			</div>
		</div>
		<div id="n__8">
			<div id="Group_ct" class="">
				<div id="Text_cu">
					<span>이름</span>
				</div>
			</div>
			<div id="Group_cv" class="">
				<div id="Text_cw">
					<span>내용</span>
				</div>
			</div>
			<div id="Group_cx" class="">
				<div id="Text_cy">
					<span>ㅇㅇ</span>
				</div>
			</div>
			<div id="Group_cz" class="">
				<div id="Text_c">
					<span>ㅇㅇ</span>
				</div>
			</div>
			<div id="Group_c" class="">
				<div id="Text_da">
					<span>ㅇㅇ</span>
				</div>
			</div>
		</div>


		<!-- 여기까지 -->


		<div id="n__9">
			<div id="n_4_c" class="___4">
				<svg class="n_8">
					<rect id="n_8" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__c">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_c" src="./images/n_3_c.png" srcset="./images/n_3_c.png 1x, ./images/n_3_c@2x.png 2x">
					
				<div id="n__da">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n_____________________________">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_da" viewBox="0 28.756 33.296 1">
					<path id="n_2_da" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_db" class="___4">
				<svg class="n_8_dc">
					<rect id="n_8_dc" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__dd">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_de" src="./images/n_3_de.png" srcset="./images/n_3_de.png 1x, ./images/n_3_de@2x.png 2x">
					
				<div id="n__df">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________dg">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_dh" viewBox="0 28.756 33.296 1">
					<path id="n_2_dh" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_di" class="___4">
				<svg class="n_8_dj">
					<rect id="n_8_dj" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__dk">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_dl" src="./images/n_3_dl.png" srcset="./images/n_3_dl.png 1x, ./images/n_3_dl@2x.png 2x">
					
				<div id="n__dm">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________dn">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_do" viewBox="0 28.756 33.296 1">
					<path id="n_2_do" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_dp" class="___4">
				<svg class="n_8_dq">
					<rect id="n_8_dq" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__dr">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_ds" src="./images/n_3_ds.png" srcset="./images/n_3_ds.png 1x, ./images/n_3_ds@2x.png 2x">
					
				<div id="n__dt">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________du">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_dv" viewBox="0 28.756 33.296 1">
					<path id="n_2_dv" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_dw" class="___4">
				<svg class="n_8_dx">
					<rect id="n_8_dx" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__dy">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_dz" src="./images/n_3_dz.png" srcset="./images/n_3_dz.png 1x, ./images/n_3_dz@2x.png 2x">
					
				<div id="n__d">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________d">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_d" viewBox="0 28.756 33.296 1">
					<path id="n_2_d" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_d" class="___4">
				<svg class="n_8_d">
					<rect id="n_8_d" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__ea">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_d" src="./images/n_3_d.png" srcset="./images/n_3_d.png 1x, ./images/n_3_d@2x.png 2x">
					
				<div id="n__eb">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________ea">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_ea" viewBox="0 28.756 33.296 1">
					<path id="n_2_ea" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_ea" class="___4">
				<svg class="n_8_eb">
					<rect id="n_8_eb" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__ec">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_ed" src="./images/n_3_ed.png" srcset="./images/n_3_ed.png 1x, ./images/n_3_ed@2x.png 2x">
					
				<div id="n__ee">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________ef">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_eg" viewBox="0 28.756 33.296 1">
					<path id="n_2_eg" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
			<div id="n_4_eh" class="___4">
				<svg class="n_8_ei">
					<rect id="n_8_ei" rx="18" ry="18" x="0" y="0" width="369" height="433">
					</rect>
				</svg>
				<div id="n__ej">
					<span>사기혐의 사례</span>
				</div>
				<img id="n_3_ek" src="./images/n_3_ek.png" srcset="./images/n_3_ek.png 1x, ./images/n_3_ek@2x.png 2x">
					
				<div id="n__el">
					<span>변호사</span><br/><span style="font-style:normal;font-weight:bold;font-size:33px;">홍길동</span>
				</div>
				<div id="n______________________________em">
					<span>의뢰인 사안의 경우 건설업에 대해 아무것도 모르는 상황에서 이를 잘 알고 있다는 고소인만을 믿고 본인의 모든 것을 회사에 투자하였는데 도리어 본인이 피의자로 몰리게 되어 그 억울함을 크게 호소하는 상황이었습니다. </span><br/><span style="font-style:normal;font-weight:bold;font-size:38px;"><br/> </span>
				</div>
				<svg class="n_2_en" viewBox="0 28.756 33.296 1">
					<path id="n_2_en" d="M 33.29647064208984 28.75604629516602 L 0 28.75604629516602 L 33.29647064208984 28.75604629516602 Z">
					</path>
				</svg>
			</div>
		</div>
		<div id="n___eo">
			<span>성공 사례 </span>
		</div>
		<svg class="n_11">
			<rect id="n_11" rx="0" ry="0" x="0" y="0" width="1072" height="659">
			</rect>
		</svg>
		<div id="n__eq">
			<span>오시는길</span><br/><span style="font-size:31px;">주소~~~</span>
		</div>
		<svg class="n_12">
			<rect id="n_12" rx="0" ry="0" x="0" y="0" width="758" height="571">
			</rect>
		</svg>
		<div id="API">
			<span>지도API</span>
		</div>
	</div>
</body>
</html>